/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #121212;
  color: white;
}

.game-category-card {
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-color 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  cursor: pointer;
}

.game-category-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(216, 48, 48, 0.8);
  border-color: #d83030;
  animation: borderEffect 0.5s ease-out;
}

@keyframes borderEffect {
  0% {
    border-color: rgb(230, 230, 230);
  }
  100% {
    border-color: #d83030;
  }
}

.game-category-card img {
  width: 150px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 10px;
}

.game-category-card p {
  opacity: 0.5;
  margin: 0;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.read-more-link {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}
.read-more-link:hover {
  text-decoration: underline;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
