/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #121212;
  color: white;
}

.game-category-card {
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-color 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  cursor: pointer;
}

.game-category-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(216, 48, 48, 0.8);
  border-color: #d83030;
  animation: borderEffect 0.5s ease-out;
}

@keyframes borderEffect {
  0% {
    border-color: rgb(230, 230, 230);
  }
  100% {
    border-color: #d83030;
  }
}

.game-category-card img {
  width: 150px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 10px;
}

.game-category-card p {
  opacity: 0.5;
  margin: 0;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.read-more-link {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}
.read-more-link:hover {
  text-decoration: underline;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card-details {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  padding: 0 15px;
  color: white;
}

.card-details.expanded {
  margin-top: 15px;
}

.game-category-card {
  font-family: 'Rajdhani', sans-serif;
  transition: all 0.5s ease;
  position: relative;
  z-index: 1;
}

.game-category-card .card-title {
  font-size: 18px;
  font-weight: 600;
  color: #ff0055;
  letter-spacing: 1px;
}

.card.game-category-card.expanded-card {
  z-index: 10;
  width: 100% !important;
  max-width: 800px;
  background-color: #1c1c1c !important;
  transform: scale(1.05) !important;
  border: 2px solid;
  animation: rgb-border-glow 4s linear infinite;
}

@keyframes rgb-border-glow {
  0% {
    border-color: hsl(0, 100%, 50%);
    box-shadow: 0 0 20px hsl(0, 100%, 50%);
  }
  25% {
    border-color: hsl(120, 100%, 50%);
    box-shadow: 0 0 20px hsl(120, 100%, 50%);
  }
  50% {
    border-color: hsl(240, 100%, 50%);
    box-shadow: 0 0 20px hsl(240, 100%, 50%);
  }
  75% {
    border-color: hsl(300, 100%, 50%);
    box-shadow: 0 0 20px hsl(300, 100%, 50%);
  }
  100% {
    border-color: hsl(360, 100%, 50%);
    box-shadow: 0 0 20px hsl(360, 100%, 50%);
  }
}

.card-details .btn-primary {
  font-family: 'Orbitron', sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #111;
  color: #ff0055;
  border: 2px solid #ff0055;
  padding: 6px 18px;
  border-radius: 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.card-details .btn-primary:hover {
  background-color: #ff0055;
  color: #111;
  border-radius: 8px;
  transform: scale(1.03);
}

.btn-primary {
  font-family: 'Orbitron', sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #111;
  color: #ff0055;
  border: 2px solid #ff0055;
  padding: 6px 18px;
  border-radius: 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.btn-primary:focus {
  border-color: #ff0055 !important;
}

.btn-primary:hover {
  background-color: #ff0055;
  color: #111;
  border-radius: 8px;
  border-color: #ff0055 !important;
}

.btn-secondary {
  font-family: 'Orbitron', sans-serif;
  font-size: 13px;
  margin-bottom: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #111;
  color: #ff0055;
  border: 2px solid #ff0055;
  padding: 6px 18px;
  border-radius: 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.btn-secondary:focus {
  border-color: #ff0055 !important;
}

.btn-secondary:hover {
  background-color: #ff0055;
  color: #111;
  border-radius: 8px;
  border-color: #ff0055 !important;
}

.container-unique {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radio-wrapper-unique {
  position: relative;
  height: 48px;
  width: 140px;
  margin: 5px;
}

.radio-wrapper-unique .input-unique {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}

.btn-unique {
  --primary-unique: #00ccff;
  --shadow-primary-unique: #ff00aa;
  --color-unique: black;
  --font-size-unique: 14px;
  --shadow-primary-hue-unique: 180;
  --shadow-secondary-hue-unique: 60;
  --shadow-secondary-unique: hsl(var(--shadow-secondary-hue-unique), 90%, 60%);
  --clip-unique: polygon(11% 0, 95% 0, 100% 25%, 90% 90%, 95% 90%, 85% 90%, 85% 100%, 7% 100%, 0 80%);
  --border-unique: 5px;
  --shimmy-distance-unique: 5;
  --clip-one-unique: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two-unique: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three-unique: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four-unique: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five-unique: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six-unique: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven-unique: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  color: var(--color-unique);
  text-transform: uppercase;
  font-size: var(--font-size-unique);
  letter-spacing: 3px;
  position: relative;
  font-weight: 900;
  width: 100%;
  height: 100%;
  line-height: 48px;
  text-align: center;
  transition: background 0.2s, 0.3s;
}

.input-unique:checked + .btn-unique {
  --primary-unique: #ffdd00;
  --shadow-primary-unique: #00ffcc;
}

.input-unique:hover + .btn-unique {
  --primary-unique: #ff3399;
  --font-size-unique: 14px;
}

.btn-unique:after, .btn-unique:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip-unique);
  z-index: -1;
}

.btn-unique:before {
  background: var(--shadow-primary-unique);
  transform: translate(var(--border-unique), 0);
}

.btn-unique:after {
  background: var(--primary-unique);
}

.btn__tag-unique {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
  font-size: var(--label-size);
}

.btn__glitch-unique {
  position: absolute;
  top: calc(var(--border-unique) * -1);
  left: calc(var(--border-unique) * -1);
  right: calc(var(--border-unique) * -1);
  bottom: calc(var(--border-unique) * -1);
  background: var(--shadow-primary-unique);
  text-shadow: 2px 2px var(--shadow-primary-hue-unique), -2px -2px #00ffff;
  clip-path: var(--clip-unique);
  animation: glitch-unique 2s infinite;
  display: none;
}

.input-unique:hover + .btn-unique .btn__glitch-unique {
  display: block;
}

.input-unique:checked + .btn-unique .btn__glitch-unique {
  display: block;
  animation: glitch-unique 5s infinite;
}

.btn__glitch-unique:before {
  content: '';
  position: absolute;
  top: calc(var(--border-unique) * 1);
  right: calc(var(--border-unique) * 1);
  bottom: calc(var(--border-unique) * 1);
  left: calc(var(--border-unique) * 1);
  clip-path: var(--clip-unique);
  background: var(--primary-unique);
  z-index: -1;
}

@keyframes glitch-unique {
  0% {
    clip-path: var(--clip-one-unique);
  }

  2%, 8% {
    clip-path: var(--clip-two-unique);
    transform: translate(calc(var(--shimmy-distance-unique) * -1%), 0);
  }

  6% {
    clip-path: var(--clip-two-unique);
    transform: translate(calc(var(--shimmy-distance-unique) * 1%), 0);
  }

  9% {
    clip-path: var(--clip-two-unique);
    transform: translate(0, 0);
  }

  10% {
    clip-path: var(--clip-three-unique);
    transform: translate(calc(var(--shimmy-distance-unique) * 1%), 0);
  }

  13% {
    clip-path: var(--clip-three-unique);
    transform: translate(0, 0);
  }

  14%, 21% {
    clip-path: var(--clip-four-unique);
    transform: translate(calc(var(--shimmy-distance-unique) * 1%), 0);
  }

  25% {
    clip-path: var(--clip-five-unique);
    transform: translate(calc(var(--shimmy-distance-unique) * 1%), 0);
  }

  30% {
    clip-path: var(--clip-five-unique);
    transform: translate(calc(var(--shimmy-distance-unique) * -1%), 0);
  }

  35%, 45% {
    clip-path: var(--clip-six-unique);
    transform: translate(calc(var(--shimmy-distance-unique) * -1%));
  }

  40% {
    clip-path: var(--clip-six-unique);
    transform: translate(calc(var(--shimmy-distance-unique) * 1%));
  }

  50% {
    clip-path: var(--clip-six-unique);
    transform: translate(0, 0);
  }

  55% {
    clip-path: var(--clip-seven-unique);
    transform: translate(calc(var(--shimmy-distance-unique) * 1%), 0);
  }

  60% {
    clip-path: var(--clip-seven-unique);
    transform: translate(0, 0);
  }

  31%, 61%, 100% {
    clip-path: var(--clip-four-unique);
  }
}

.number-unique {
  background: var(--shadow-primary-unique);
  color: #323232;
  font-size: 7px;
  font-weight: 700;
  letter-spacing: 1px;
  position: absolute;
  width: 15px;
  height: 6px;
  top: 0;
  left: 81%;
  line-height: 6.2px;
}
